html, body {scroll-behavior:smooth; cursor: none;}
#mouse {
    width:35px; height:35px; 
    /* border:2px solid #fff; */
    background:#C7D3D4;
    border-radius:50%;
    /* 화면 최상단 스크롤 상관없이 고정 마우스 따라다니는 css */
    position:fixed;left:0; top:0; z-index:999;
                /* 마우스 커서가 중앙에 배치하도록 하는 css */
    transform: translate(-50%, -50%);
                /* 필수속성: 마우스 따라다니는 이미지 만들경우 */
    /* (위)링크, 버튼 등 선택이 안되는 문제 해결 */
    pointer-events:none;
}
header {
    position:fixed; top:0; left:0;
    z-index:999;
    width:100vw; padding:0 30px;
    border-bottom:1px solid #fff;
}
header nav {
    
    /* padding:5px 20px; background:#603F83; */
    display:flex; flex-flow:row nowrap; justify-content:flex-end;
}
header nav a {
    font-family: 'Montserrat', sans-serif;
    line-height:50px; color:#fff; font-weight:500;
    display:block;
    padding:5px 30px;
    transition:all 0.7s;
}
header nav a:hover {
    font-weight:600; background:#C7D3D4;
}
/* header nav .active {color:#603F83;} */
aside {
    position:fixed; top:200px; left:-130px;
    z-index:999;
}
aside h1 {
    color: #FFF;
    font-family: Montserrat; font-size:1.125rem; font-weight:400;
    letter-spacing:0.43125rem;
    transform:rotate(90deg);
}
#wrap {position:absolute; top:0; left:0;}
#wrap #home {
    height:100vh; background:#603F83;
}
#wrap #home .ani {
    position:absolute; top:100px; right:100px;
    animation:rotate 13s alternate infinite;
} 
#wrap #home .title {
    display:flex; flex-flow:column nowrap; align-items:center;
    /* margin-top:-200px; */
}
#wrap #home .title .subtitle {
    width:810px;
    display:flex; flex-flow:row nowrap; align-items:center;
}
#wrap #home .title .subtitle .sub {
    font-family: 'Montserrat', sans-serif;
    font-size:1.25rem; font-weight:300;
    color:#fff;
}
#wrap #home .title .subtitle .sub em {
    font-family: 'Montserrat', sans-serif;
    font-size:1.25rem; font-weight:500;
    color:#fff;
}
#wrap #home .title .subtitle .line {
    content:''; width:200px; height:1px;
    display:inline-block; background:#fff;
    margin-left:10px;
}
#wrap #home .title h1 {
    font-family: Montagu Slab;
    font-size:10rem;
    color:#fff;
    margin-bottom:30px;
}
#wrap #home .title h2 {
    color: #FFF;
    font-family: Montserrat; font-size:1.333rem; font-weight:400;
}
#wrap #home h2 {
    font-weight:600; color:#fff;
}
#wrap #home .scroll {
    position:absolute; bottom:5px; left:50%;
    transform:translate(-50%,-50%);
    display:flex; flex-flow:column nowrap; align-items:center;
}
#wrap #home .scroll p {
    color:#fff; 
    margin-bottom:10px;
}
#wrap #home .mouse {
    content:''; display:block;
    width: 30px; height: 50px; 
    border:2px solid #fff; border-radius:50px;
    display:flex; justify-content:center;
}
#wrap #home .scroll .wheel {
    content:''; display:block;
    width: 4px; height: 12px;
    border-radius:50px; background:#fff;
    margin-top:7px;
    animation:wheel 0.8s alternate infinite;
}
/* 텍스트 애니메이션 */
@keyframes rotate {
    0% {}
    100% {transform:rotate(360deg)}
}
/* 마우스휠 애니메이션 */
@keyframes wheel {
    0% {transform:translateY(-2px)}
    100% {transform:translateY(3px)}
}
/* about */
#wrap #about {height:100vh;}
#wrap #about .title {
    margin-bottom:50px; text-align:center;
}
#wrap #about .title h1 {
    color: #603F83;
    font-family: Montserrat; font-size: 3.125rem; font-weight:600;
    margin-bottom:10px; margin-top:100px;
}
#wrap #about .title h2 {line-height:27px;}
#wrap #about .title h2 em {
    color:#603F83; font-weight:500;
}
#wrap #about .box {
    display:flex; flex-flow:row nowrap; 
    justify-content:center; align-items:center;
}
#wrap #about .box .img {
    width:300px;
    display:flex; flex-flow:column nowrap; align-items:flex-start;
    margin-right:200px;
}
#wrap #about .box .img img {width:100%;}
#wrap #about .box .img span {
    font-family: Montserrat;
    font-size: 2.3125rem; font-weight:500;
    color:#603F83; margin-top:-20px;
}
#wrap #about .box .contents {
    text-align:left;
}
/* #wrap #about .box .contents h2 {
    font-family: 'ACCchildrenheartOTF-Regular'; font-size: 1.5rem;
    margin-bottom:20px;
} */
#wrap #about .box .contents div {margin-bottom:40px;}
#wrap #about .box .contents div h3 {
    font-family: Montserrat; font-size: 1.3125rem; font-weight: 600;
    color: #603F83; margin-bottom:20px;
}
#wrap #about .box .contents div .info {}
#wrap #about .box .contents div .info p {
    display:flex; flex-flow:row nowrap;
    margin-bottom:15px; font-size:1.125rem; 
}
#wrap #about .box .contents div .info p >* {
    font-family: Montserrat;
    font-size:1.125rem; 
}
#wrap #about .box .contents div .info p:last-child {margin-bottom:0;}
#wrap #about .box .contents div .info p em {
    margin-right:50px;
    font-weight:600;
}
#wrap #about .box .contents div .info p span {}
/* 프로필 */
#wrap #about .box .contents .c1 .info > p em {margin-right:20px;}
#wrap #about .box .contents .c1 .info .contact {
    display:flex; flex-flow:row nowrap;
}
#wrap #about .box .contents .c1 .info .contact p em {
    margin-right:20px;
}
#wrap #about .box .contents .c1 .info .contact p:first-child {margin-right:50px;}
#wrap #about .box .contents .c1 .info > p em {margin-right:20px;}
/* 자격증, 교육 */
#wrap #about .box .contents .c3 .info p >* {line-height:27px;}
#wrap #about .box .contents .c2 .info p em, 
#wrap #about .box .contents .c3 .info p em {width:60px;}
#wrap #about .box .contents .c2 .info p span, 
#wrap #about .box .contents .c3 .info p span {font-size:1rem;}
/* 키워드 */
#wrap #about .box .contents .c4 .info {
    display:flex; flex-flow:row nowrap;
}
#wrap #about .box .contents .c4 .info p {margin-right:20px;}
#wrap #about .box .contents .c4 .info p:last-child {margin-right:0;}
/* skill */
#wrap #skill {height:100vh;}
#wrap #skill .box {
    width:1100px; margin:0 auto;
    display:flex; flex-flow:row wrap; 
    align-items:center; gap:100px;
    margin-top:50px;
}
#wrap #skill .box > div {
    width:500px;
}
#wrap #skill .box > div h2 {
    text-align:center; width:100%;
    padding:15px 0; background-color: #603F83;
    font-family: Montserrat; font-size: 1.3125rem; font-weight:600;
    color:#fff;
}
#wrap #skill .box > div .desc {
    padding:15px 10px;
}
#wrap #skill .box > div .desc p {
    font-family: Montserrat;
    line-height:30px; letter-spacing:-0.02rem;
}
/* 웹리디자인 */
#wrap #web_redesign {}
#wrap #web_redesign #web {max-width:1440px; margin:0 auto;}
#wrap #web_redesign #web .swiper-pagination-bullet {background-color:#000;}
#wrap #web_redesign #web .swiper-button-prev {}
#wrap #web_redesign #web .swiper-button-next {}
.swiper-button-prev:after, .swiper-button-next:after {color:black;}
#wrap #web_redesign #web .swiper-wrapper {width:1200px; margin:0 auto;}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide {
    display:flex; flex-flow:row nowrap; align-items:center;
    padding:100px 0;
}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .left {
    width:584px; margin-right:100px;
}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .left img {width:100%;}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .right {width:500px;}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .right .txt {margin-bottom:30px;}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .right .txt h2 {
    /* font-family: Montserrat; */
    font-size: 2.3125rem; font-weight:600;
    padding:30px 10px; border-bottom:1px solid #aaa;
    margin-bottom:30px;
}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .right .txt .desc {

}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .right .txt .desc p {
    display:flex; flex-flow:row nowrap;
    margin-bottom:10px; 
}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .right .txt .desc p >* {
    font-family: Montserrat; font-size:1.125rem; letter-spacing:-0.02rem;
    line-height:30px;

}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .right .txt .desc p em {
    width:70px; margin-right:30px;
    font-weight:600;
}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .right .txt .desc p span {}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .right .txt .desc > p:nth-child(3) > span {
    line-height:30px;
}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .right .txt .desc > p:nth-child(3) > em {
    line-height:30px;
}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .right .txt .desc .contri {
    display:flex; flex-flow:row nowrap;
}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .right .txt .desc .contri * {
    font-family: Montserrat; font-size:1.125rem; letter-spacing:-0.02rem;
    line-height:30px;

}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .right .txt .desc .contri p {
    width:70px; margin-right:30px;
    font-weight:600;
}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .right .txt .desc .contri .contents {}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .right .txt .desc .contri .contents span:first-child {
    margin-right:30px;
}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .right .site {display:flex;}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .right .site a {
    display:block;
    width:180px; padding:10px 0; margin-right:20px;
    font-family: Montserrat; text-align:center;
    border:1px solid #000; border-radius:10px;;
}
/* 롬앤 */
#wrap #web_redesign #web .swiper-wrapper .slide1 .right .txt h2 {
    color:#FACDD2;
}
#wrap #web_redesign #web .swiper-wrapper .slide1 .right .site a {
    border-color:#FACDD2; color:#FACDD2;
    transform:scale(1);
    transition:all 0.5s linear;
}
#wrap #web_redesign #web .swiper-wrapper .slide1 .right .site a:hover {
    background:#FACDD2;; color:#fff; border:none;
    transform:scale(1.1);
}
/* 드롭탑 */
#wrap #web_redesign #web .swiper-wrapper .slide2 .right .txt h2 {
    color:#171C8F;
}
#wrap #web_redesign #web .swiper-wrapper .slide2 .right .site a {
    border-color:#171C8F; color:#171C8F;
    transform:scale(1);
    transition:all 0.5s linear;
}
#wrap #web_redesign #web .swiper-wrapper .slide2 .right .site a:hover {
    background:#171C8F; color:#fff; border:none;
    transform:scale(1.1);
}